<div class="layout-menu-profile">
    <button class="p-link" (click)="toggleMenu()" [pTooltip]="nombre" [tooltipDisabled]="isTooltipDisabled">
        <span class="flex align-items-center justify-content-center border-circle bg-indigo-100"
            style="width:32px;height:32px;min-width:32px">
            <i class="pi pi-user text-indigo-600"></i>
        </span>
        <span>
            <strong>{{ nombre }}</strong>
            <small>{{ email }}</small>
        </span>
        <i class="layout-menu-profile-toggler pi pi-fw" [ngClass]="{'pi-angle-down': menuProfilePosition === 'start' || isHorizontal, 'pi-angle-up': menuProfilePosition === 'end' && !isHorizontal}"></i>
    </button>

    <ul *ngIf="menuProfileActive" [@menu]="isHorizontal ? 'overlay' : 'inline'">
        <li pTooltip="Cerrar Sesión" [tooltipDisabled]="isTooltipDisabled">
            <button class="p-link" (click)="logout()">
                <i class="pi pi-power-off pi-fw"></i>
                <span>Cerrar Sesión</span>
            </button>
        </li>
    </ul>
</div>
