spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.tecnoa.pos: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG
